.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/rodion-kutsaev-ySNkCkdKyTY-unsplash.jpg");
  position: absolute;
  background-position: 180% 100%;
}
.text{
  width: max-content;
  height: max-content;
  padding: 100;
}

.u-section-1 .u-sheet-1 {
  position: absolute;
  min-height: 789px;
}

.u-section-1 .u-text-1 {
  position: absolute;
  font-size: 10.625rem;
  line-height: 0.9;
  font-weight: 700;
  animation-duration: 2250ms;
  margin: 453px 79px 29px 0;
}
.u-section-1 .text{
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 6rem;
    margin: 427px 275px 56px 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 28.35% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 67px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    margin: 613px -107px 60px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 331px;
    margin-right: 0;
    margin-bottom: 52px;
  }
}.u-section-2 {
  min-height: 834px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 715px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 620px;
  object-position: 50% 0%;
  width: 510px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 375px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 31px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  line-height: 2;
  background-image: none;
  margin: 29px -30px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 93px;
  height: 87px;
  margin: 36px auto 0 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 480px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  animation-duration: 1750ms;
  margin: 11px -140px 0 0;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  margin: 37px 0 0;
}

.u-section-2 .u-group-1 {
  width: 560px;
  min-height: 286px;
  margin: -261px auto 0 -7px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 684px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 704px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 498px;
    width: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 96.34%;
    min-height: 441px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 239px;
    width: 473px;
    margin-top: -214px;
    margin-left: -13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 431px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 739px;
  }

  .u-section-2 .u-image-1 {
    height: 424px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 184px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 517px;
  }

  .u-section-2 .u-group-1 {
    min-height: 315px;
    width: 351px;
    margin-top: -290px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1409px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 579px;
    width: 472px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: -28px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: -28px;
    margin-left: 28px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 552px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 439px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 578px;
    margin-top: -270px;
    margin-left: -10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 954px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-2 .u-image-1 {
    height: 393px;
    width: 320px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 4px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-1 {
    animation-duration: 1000ms;
    margin-top: -87px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 480px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-group-1 {
    min-height: 277px;
    width: 372px;
    margin-top: -269px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/annie-spratt-obkv3aSXAqg-unsplash.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1863px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 2000ms;
  margin: 134px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 170px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  animation-duration: 1750ms;
  margin: 40px -45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2015px;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2312px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2728px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2729px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
    margin-top: 50px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 51px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
    margin: 74px 0 60px;
  }
}